.login-and-register {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  @media screen and (max-width: 800px) {
    font-size: 20px;
    flex-direction: column;
    width: 100%;
  }
}
