.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;

    &:hover {
      filter: invert(1) drop-shadow(0 2px 2px black);
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;

    .option {
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        color: blue;
        text-shadow: 0 0 2px black;
      }
    }
  }
}
