.login {
  width: 380px;
  display: flex;
  flex-direction: column;

  .heading {
    @media screen and (max-width: 800px) {
      margin: 0;
    }
  }

  .title {
    margin: 10px 0;
    @media screen and (max-width: 800px) {
      margin: 0;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .login-error {
    padding-top: 20px;
    display: flex;
    align-items: center;
    text-shadow: 0 0 1px black;
    height: 45px;
    color: red;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    margin-bottom: 30px;
  }
}
